body {
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
}
h1 {
    color: rgb(242, 47, 47);
}

.btn {
    background-color: rgb(242, 47, 47);
    border-color: rgb(242, 47, 47);
    margin-top: 40px;
}

#bookContainer {
    color: rgb(24, 24, 24);
}

#show {
    
}